
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva,  Verdana, sans-serif;
}
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
   
    grid-template-columns:300px 700px;
}

.left-section{
    display: grid;
    width: 300px;
    height: 1000px;
    padding: 1rem 1rem 1rem 1rem;
    background-color:#a2abb1da;
    grid-column: span1;
}
.profile-image{
    margin: auto;
    display:block;
    align-items: center;
    padding:  1rem 1rem 1rem 1rem;
    border: 5px solid white;
    width: 60%;
    border-radius: 30%;

}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
   letter-spacing: 0.02px;
    text-transform: uppercase;
    padding: 0.8rem; 

}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
padding-bottom: 0.5rem;

}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;

}


.skills{
    font-size: 0.75rem;
    text-align: center ;
    text-transform: uppercase;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.skill-name{
    padding-bottom: 0.5rem;
    text-align: left;
    font-size: 0.65rem;
    font-weight: 0.65rem;
}
.progress-bar{
    height: 5px;
    border: 2px solid rgb(10, 10, 10);
}

.right-section{
    min-height: 1000px;
    width: 700px;
  grid-column: span1/span2;
      background-color:  #e2eaee;
      
  }

.right-main-content{
    padding: 32px 48px 32px 48px;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
@media screen and (max-width:600px){
    .main_content{
        grid-template-columns: repeat(1,1fr);
        
        
    }
}



    
    
